#projects {
  padding: 100px 0 50px 0;
  background: #f6f6f6;
}

#projects h3 {
  font-size: 22px;
  margin: 0 0 20px;
}

#projects h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#projects h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 50%;
}

#projects .project-text li {
  margin-bottom: 6px;
  /* margin-left: 6px; */
  list-style: none;
  padding: 0;
}

#projects .project-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}

#projects img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}

#projects p {
  line-height: 24px;
  margin: 30px 0;
}

.project-title h3 {
  font-weight: 700;
  margin-bottom: 10px !important;
}

.project-title::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 2px;
  width: 60px;
  top: 2;
  /* bottom: 0; */
  /* left: 0; */
}

.project-item {
  /* padding-bottom: 4rem; */
}

hr {
  margin: 8rem auto 6rem auto;
  text-align: center;
}

#projects .image-gallery-slide img {
  height: 500px;
  /* width: 100%; */
}

.fullscreen .image-gallery-slide img {
  height: 100vw;
  width: 100%;
}

#projects .fullscreen img {
  height: 100vw;
  width: max-content;
}

.project-title h3 a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.list-style>div,
.list-style>div li {
  padding-left: 0;
}